*{
	margin:0;
	padding:0;
	list-style:none;
}
body{
	font-size:12px;
}
.main{
	width:560px;
	height:500px;
	position:fixed;
	bottom:10px;
	border:1px solid #ccc;
}
*html .main{
	position:absolute;
	top:expression(eval(document.documentElement.scrollTop));
	margin-top:320px;
}
.main2{
	width:540px;
	height:500px;
	position:relative;
	padding-left:20px;
	background-color:#000;
}
.bar{
	width:25px;
	height:105px;
	position:absolute;
	right:-25px;
	top:-1px;
	background:url(http://127.0.0.1/gisproject/function/images/mini_bg2.png) no-repeat;
	display:block;
}

